.search {
    background-color: #6E8FDB;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.search .title {
    font-size: 50px;
    display: inline-block;
    margin-right: 30px; 
    color: #fff;
}
.search form {
    position: relative;
    bottom:9px;
    display: inline-block;

}
.search input {
    padding: 2px;
    font-size: 25px;
    /* border: 5px solid */
}
.search button {
    background-color: #6E8FDB;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px;
    position: relative;
    bottom: 4px;
}